<div class="container-fluid footer-bg">
        <div class="col-md-8">
            <div class="some-margin">
                <h4 class="footer-margin"><b> Quick Navigation </b></h4>
                <div>
                    @Html.ActionLink("HOME", "Index", "Home") <br />
                    @Html.ActionLink("SERVICES", "About", "Home") <br />
                    @Html.ActionLink("TEAM", "Index", "Team") <br />
                    @Html.ActionLink("CONTACT", "Contact", "Home") <br />
                    @Html.ActionLink("TESTIMONIALS", "About", "Home") <br />
                    @Html.ActionLink("VIDEOS", "About", "Home")
                </div>

                <p>&copy; @DateTime.Now.Year - NDA, INC.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="some-margin">
                <h4 class="footer-margin"><b> Contact Us</b></h4>
                <p>
                    4906 Bardstown Road, Suite 201 <br />
                    Louisville, KY. 40291          <br />
                    Phone: (502) 495-2262          <br />
                    Fax: (814) 295-6385            <br />
                    Email: <a href="mailto:info@ndainc.net">info@ndainc.net</a>
                </p>
                </div>
            </div>
</div>